.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #1682c0;/*#2FA4E7;*/ /* Blue */
  overflow-x: hidden; /* Disa/ble horizontal scroll */
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.main-body {
  margin-left: 160px;
/*   display: flex; this causes the search bar to not expand all the way */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EAEBED;
}

.main-header {
  background-color: #2FA4E7;
  max-width: 100%;
}



.dog-profile {
  display: inline-block;
}

.dog-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.dog-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  text-decoration: none;
  margin-top: 60px;
  margin-right: 60px;
  justify-content: center;
  display: block;

  transition: transform 133ms;
}

.dog-title {
  font-family: Montserrath;
}

.dog-image:hover {
  transform: scale(1.1);

}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.profile {
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 50%;
  max-width: 100%;
}

.page-navigation {
  bottom: 0;
  display: flex;
  justify-content: center;
/* 
  margin-top: 500px; */
}

ul {
  list-style-type: none;
}

html,body {
  margin: 0;
  padding: 0;
}
